{% extends 'base.html' %}

{% block content %}
    <h1>Notifications</h1>
<table class = "table">
    {% for notification in notifications %}

    <tr>
        <td>
            {{ notification.sender_object}}&nbsp{{ notification.verb}}&nbsp on &nbsp
{#            <a href={{ notifications.get_absolute_url }} ?next={{ comments.get_absolute_url }}">#}
            <a href="{{ notification.get_absolute_url }}?next={{ notification.target_object.get_absolute_url }}">
                {{ notification.target_object}}</a>&nbsp with &nbsp
               "{{ notification.action_object}}"
{#            content_type: {{ notification.target_content_type }}#}


        </td>
        <td >
            {% if notification.read %}read{% else %}unread{% endif %}
        </td>
    </tr>

    {% endfor %}
    </table>
    <a href="/notifications/mark_all_read">Mark all as read</a> |
    <a href="/notifications/mark_all_unread">Mark all as unread</a>

{% endblock %}
