{% extends "base.html" %}
{% load crispy_forms_tags %}

<style>
{% block style %}

{#li { cursor: pointer; cursor: hand; }#}



.jumbotron{
background-color: white;
background-image: url("{{ post.get_image_url }}");
color: #ED5565;
}
    .well {
        background-color: rgba(255, 255, 255, .8);
        color: darkslategrey;
    }
    .btn {
    background-color:rgba(0,204,153,.8);
    color: white;
    border-color:white;
    border-width:3px;
    border-radius:35px;
    }
a.btn:hover {
    background-color: #ED5565;
border-color:white;
color:white;

{#    opacity:0.4;#}
    outline: none !important }

    .btn:hover {
    background-color: #ED5565;
border-color:white;
color:white;

{#    opacity:0.4;#}
    outline: none !important }

{% endblock %}
</style>

{% block content %}

       <div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron jumbotron-material-blue-grey-200">

        <div class = 'well'>
            <p style = " text-align:left; font-size:3em;">{{ post.title }}</p>
            <br>
{#            <p>This example is a quick exercise to illustrate how the default, static and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>#}
        <p style="opacity: 0.9;">{{ post.description }}</p>
       </div>
        <p class="text-center">
            {% if post.tags  %}
                 {% for tag in post.tags.all %}
                     <a class="btn btn-md btn-primary" href="../../components/#navbar" role="button">{{ tag }}</a>
                 {% endfor %}
            {% endif %}

      </div>

    </div> <!-- /container -->

    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
    {% for subpost in subposts %}
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="{{ subpost.get_image_url }}"  width="140" height="140">
          <h2>{{ subpost.title }}</h2>

          <p>{{ subpost.description }}</p>
          <p><a class="btn btn-default" href="#" role="button">Check it out</a></p>
        </div>
      {% endfor %}

          <!-- /.col-lg-4 -->
{#        <div class="col-lg-4">#}
{#          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">#}
{#          <h2>Heading</h2>#}
{#          <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>#}
{#          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
{#        </div><!-- /.col-lg-4 -->#}
{#        <div class="col-lg-4">#}
{#          <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">#}
{#          <h2>Heading</h2>#}
{#          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>#}
{#          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>#}
{#        </div><!-- /.col-lg-4 -->#}
{#      </div><!-- /.row -->#}


      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

{#<br>#}
{#    <hr>#}
{#    <h3 class="text-center">Discussion Section</h3>#}
{#    <br>#}
{#    <br>#}
{#    <hr>#}
    <br></br>
    {% include "commons/comments.html" %}


{#<h2>SubPosts</h2>#}
{#    {% for post in subposts %}#}
{#        <h4> {{ post }}</h4>#}
{#    {% endfor %}#}
{% endblock %}

{% block jquery %}
    {% include "jquery/comments_jquery.html" %}

{% endblock %}
