{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    New Post
{% endblock %}

{% block content %}
    <h1 style =" color:Teal">Make a new post <span style = "color:grey">{{ request.user }}</span> !</h1>
    <br>
    <br>
    <div class = row>
        <div class = "col-sm-6">
            <form method = "post" >
                {% csrf_token %}
                {{ form | crispy }}
                <input class = "btn btn-default btn-block"type = submit style = "border-color: #27856D; color: #27856D;">

            </form>


        </div>

    </div>


{% endblock %}