{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Register
{% endblock %}

{% block content%}
    <h1>Register</h1>
    <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <input class = "btn btn-primary" type="submit" >
    </form>
{% endblock %}