<a style="color:teal" href="/"><i class="fa fa-chevron-circle-up fa-3x"></i></a>

{% extends "base.html" %}

{% block title %}Welcome | {% endblock %}

<style>
{% block style %}
h1 {
	color: teal;
    font-weight: lighter;
}

th{
color:teal;
font-weight: 400;
    }
td{
color:slategray;
font-weight:200;
    }


{#Have to find a better solution than this override btn class above?#}


    .pre-like{
{#    background-color: white;#}
    color: lightgrey;
{#    border-color:  #27856D;#}

    }

    a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

    li { cursor: pointer; cursor: hand; }
    a:hover {
    color: #ED5565;;
{#    opacity:0.4;#}
        outline: none !important }
a:focus {
    color:#37BC9B;
    opacity: 0.4;

    text-decoration: none;
}




{#    a:focus{color:none}#}

        .liked {
{#    background-color: #27856D;#}
    color:#37BC9B;
{#    border-color:  #27856D;#}

{% endblock %}
</style>


{% block content %}

<h1 style = "font-weight: lighter">Hello there <span style = "color:grey">{{ the_name }}</span></h1>
<br>

{#    lists of posts.#}

    <table class="table" style ="">
    <tr>
        <th></th>
        <th>Likes</th>
        <th>Slug</th>
        <th>Title</th>
        <th>Description</th>
    </tr>

        {% for query in query_set %}

            <tr>
                {% if query.like == 'liked' %}
{#                    <td><input type="button" id="{{query.post.slug}}" class = "like btn liked"   name="{{ query.post.slug }}" value="Liked" />#}
                    <td>
                    <a style="" href="#" class="like  liked" id="{{query.post.slug}}"><i id="i_{{query.post.slug}}" class="fa fa-chevron-circle-up fa-3x"
                            >
                    </i><br></a>
                    </td>

                {% else %}
{#                    <td><input type="button" id="{{query.post.slug}}" class = "like btn pre-like"  name="{{ query.post.slug }}" value="Like" />#}
{#                    </td>#}
                    <td>
                    <a href="#" class="like  pre-like" id="{{query.post.slug}}"><i id="i_{{query.post.slug}}" class="fa fa-chevron-circle-up fa-3x"></i></a>
                    </td>
                {% endif %}




                <td id = "like_{{ query.post.slug}}"class = "total_likes" >{{ query.post.total_likes }}</td>
                <td>{{ query.post.slug }}</td>
                <td>{{ query.post.title }}</td>
                <td>{{ query.post.description }}</td>


{#                {{ query.post }}#}
{#            {{ query.like}}#}
{#            {{  post.likes.filter(id=name.id).exists  }}#}
            </tr>
        {% endfor %}
{#        for ... in .... : limit 10#}



    </table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% include "jquery/likes_jquery.html" %}
{% endblock %}
