

{% extends "base.html" %}

{% block title %}Welcome | {% endblock %}

{% block stylesheet %}
    {% load static from staticfiles %}

    <link rel="stylesheet" href="{% static 'static_dirs/css/style_test.css' %}">
{% endblock %}

<style>
{% block style %}
h1 {
	color: teal;
{#color:#20b093;#}
    font-weight: lighter;
}

th{
color:teal;

font-weight: 400;
    }
td{
color:slategray;
font-weight:200;
    }


{#Have to find a better solution than this override btn class above?#}


    .pre-like{
{#    background-color: white;#}
    color: lightgrey;
{#    border-color:  #27856D;#}

    }

    a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

    li { cursor: pointer; cursor: hand; }
    a:hover {
    color: #ED5565;
{#    opacity:0.4;#}
        outline: none !important }
a:focus {
    color:#37BC9B;
    opacity: 0.4;

    text-decoration: none;
}



{#    a:focus{color:none}#}

.liked {
         color: #18856f;
color:#20b093;
    background-color: #ffffff;

}
.well{
background-color: #F2F2F2;
background-color: white;
{#border-color: #754942;#}
border-color:#434a54;
border-color: lightgrey;
border-radius:8px;
border-width:1px;
}



{% endblock %}

</style>


{% block content %}

<div class="row">
    <div class="col-sm-4 col-sm-offset-4" style = "text-align: center;">
        <h1 style = "font-weight: lighter">Hello there <span style = "color:grey">{{ the_name }}</span></h1>
    </div>
</div>
    <br>
    <br>

{#    lists of posts.#}


        {% for query in query_set %}

            <div class = "row" style = "padding-top: 0px;margin-top:0px;">



                    <div class = "well col-sm-12" style = "padding-top: 0px; padding-bottom:0px; padding-left:0px;">
                        <div class = "col-sm-1" style="padding-left: 0px">
                            <img src="{{ query.post.get_image_url }}" class="img-responsive "
                 style="height:80px; width:80px; border-radius:7px; "></img>

                        </div>
                        <div class = "col-sm-2" style ="padding-top: 0px;">

                            <a href="{{ query.post.get_absolute_url }}" target="_blank">
                                <span style="font-weight: 400;font-size:1em; color:#1E9582">
                                    {{ query.post.title }}
                                </span>
                            </a>

                        </div>
                        <div class = "col-sm-7" style ="">
                            <span style="margin:2px;font-weight: 300;">{{ query.post.description }}</span>
                        </div>

{#                        like button#}

                        <div class = "col-sm-2 pull-right"style="">
                            <div class="pull-right" style = "padding:0px;margin:0px;">
                            {% if query.like == 'liked' %}

                                <a style="" href="#" class="like  liked" id="{{query.post.slug}}"><i id="i_{{query.post.slug}}" class="fa fa-chevron-circle-up fa-4x">
                                </i></a>


                            {% else %}


                                <a href="#" class="like  pre-like" id="{{query.post.slug}}"><i id="i_{{query.post.slug}}" class="fa fa-chevron-circle-up fa-4x"></i></a>
                            {% endif %}
                                    <span id ="like_{{ query.post.slug}}" class = "total_likes" style="
                                    font-weight: lighter;color:gray; font-size: 2em; margin-top:-12px; ">
                                        {{query.post.total_likes}}</span>

                            </div>
                        </div>
{#                    like button end#}
                    </div>
            </div>

        {% endfor %}
    </table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
{% include "jquery/likes_jquery.html" %}
{% endblock %}

