{% extends "base2.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <div class ="col-sm-4 col-sm-offset-4" style="text-align:center;">
        <br>
        <br>
        <h2 style = "font-weight:lighter;color:#27856D">LOGIN</h2>
        <br>
        <br>
        <form method="post" style=" color:gray;">
            {% csrf_token %}
            {{ forms | crispy }}
            <br>
            <br>
            <input class= "btn btn-block" type = "submit" style = "border-color: #27856D; color: #27856D; background-color:white">
            <br>
        </form>
    </div>

{% endblock %}