
    <!-- Static navbar -->
<style>
     #navitems{
        color:#27856D;
    }
</style>
    <nav class="navbar navbar-default navbar-static-top" style=" background-color:white; border:none">
      <div class="container">
        <div class="navbar-header" >
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">PatientFirst</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav" id="navitems">
            <li><a id="navitems" href="/newpost">Make a Post</a></li>
            <li><a id="" href="/notifications">Notifications</a></li>

{#            <li class="dropdown">#}
{#              <a href="#" class="dropdown-toggle" id="navitems" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>#}
{#              <ul class="dropdown-menu" role="menu">#}
{#                <li><a href="#">Action</a></li>#}
{#                <li><a href="#">Another action</a></li>#}
{#                <li><a href="#">Something else here</a></li>#}
{#                <li class="divider"></li>#}
{#                <li class="dropdown-header">Nav header</li>#}
{#                <li><a href="#">Separated link</a></li>#}
{#                <li><a href="#">One more separated link</a></li>#}
{#              </ul>#}
{#            </li>#}
          </ul>
          <ul class="nav navbar-nav navbar-right">


              {% if request.user.is_authenticated %}
                  <li><a id="navitems" href="/logout">Logout</a></li>


              {% else %}
                  <li><a id="navitems" href="/login">Login</a></li>
              {% endif %}


          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
