<style>
    .reply_comment{
        display:none;
    }
    .thread{
{#        display:none;#}
        color:teal;
    }
</style>

{% load crispy_forms_tags %}
<hr>
<h2>Comments</h2>
<br>
{#<form>#}
{#    <input type = "text"/>#}
{#    <input type = "submit"/>#}
{#</form>#}
<div class = "row">
    <div class = " col-xs-6">
    <form method="post" action = "{% url "comment" %}">{% csrf_token %}
        {{ comment_form|crispy}}
        <input type='hidden' name='current_path' value='{{ request.get_full_path }}' />
        <input type='hidden' name='post_id' value='{{ post.id }}' />
        <input type = 'hidden' name = "parent_comment_id" value = ''>
        <input type="submit" class = "btn btn-primary">
    </form>
    </div>
</div>

    <br>
    <h2> comments!</h2>
 <table class="table">

    {% for comment in comments %}
{#        {% if comment.parent == None%}#}

        <tr>
        <td>
            {{ comment }}


            <div>
                <div class = row>
                    <div class = 'col-sm-4'>
                        <a href='#' class='reply_btn'>Reply</a> |
{#                        <a class = "thread_btn" href="#">View thread</a>#}
{#                        <div class = "thread">#}
{#                        <ul>#}
{#                            <li>{{ comment }}</li>#}
{#                        </ul>#}
{#                        </div>#}

                        <div class = "reply_comment">
                            <form method="post" action = "{% url "comment" %}">{% csrf_token %}
                                {{ comment_form|crispy}}
                                <input type='hidden' name='current_path' value='{{ request.get_full_path }}' />
                                <input type='hidden' name='post_id' value='{{ post.id }}' />
                                <input type = 'hidden' name = "parent_comment_id" value = '{{ comment.id }}'>
                                <input type="submit" class = "btn" value="Add">
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </td>
        </tr>
    {% endfor %}
 </table>

{#Javascript:#}
{#included comments_jquery.html in the parent page#}

